@font-face {
  font-family: helvetica;
  src: url('./helvetica_regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: helvetica;
  src: url('./helvetica_bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: helvetica;
  src: url('helvetica_light.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}