@import 'tailwindcss';
@import '@mantine/core/styles.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: 'helvetica', sans-serif;

  --color-primary: #101010;
  --color-primary-30: rgba(16, 16, 16, 0.7);

  --color-secondary: #c8c8c8;
  --color-secondary-30: rgba(200, 200, 200, 0.7);

  --color-light-black: #1b1d22;
  --color-gray: #6c7286;
  --color-light-gray: #a7adc5;

  --color-background: #f7f8f8;
  --color-alert-red: #ff5053;
  --color-brand-blue: #80e9ec;

  --spacing: 4px;
}

body {
  @apply font-display;
  @apply bg-background;
  font-style: normal;
}

.mantine-Select-input {
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  font-size: 16px;
  padding-inline: calc(var(--spacing) * 4);
  padding-block: calc(var(--spacing) * 5.5);
}

.mantine-Select-input::placeholder {
  color: var(--color-primary-30);
}
